/****************/
/* Import Fonts */
/****************/

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Source+Sans+Pro:wght@300;400&display=swap');

/*****************/
/* Standard Tags */
/*****************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

/****************/
/* Landing Page */
/****************/

.home-master-container {
  background: url('../public/images/landing-page.jpg') no-repeat center center fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.overlay {
  position : absolute;
  top: 0;
  left: 0;
  flex: none;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100vw;
  height: 100vh;
}

.vertical-center {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-80%);
}

.vertical-center > * {
  color: white;
  margin: 0;
}

.home-header {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 7vw;
  text-align: center;
  text-transform: uppercase;
  height: 1.75em;
  text-shadow: 0px 0px 15px black;
}

.home-descrip-container {
  display: flex;
  justify-content: center;
}

.home-descrip-container > * {
  font-size: 2.5vw;
  text-shadow: 0px 0px 15px black;
}

.home-descrip {
  margin: 0;
}

.descrip-divider {
  margin: 0 .5em;
}

.home-buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 1.25em;
}

.home-buttons-container > button {
  color: white;
  background-color: rgb(33, 110, 183);
  font-size: 2vw;
  text-transform: uppercase;
  width: max-content;
  padding: .3em .85em;
  border: 1px solid rgb(65, 141, 212);
  border-radius: .5em;
  margin: 0 .5em;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}

.home-buttons-container > button:hover {
  background-color: rgb(199, 83, 156);
  border: 1px solid rgb(221, 119, 183);
}